# Created by Gemini for Android Projects

# Gradle
.gradle/
build/

# Local configuration
local.properties

# IDE files (Android Studio)
*.iml
.idea/
!.idea/misc.xml
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/

# Distribution files
*.apk
*.aab
*.ap_

# Profiler files
*.hprof
*.hprof-conv

# Native build files
.cxx/
.externalNativeBuild/

# Other
captures/
.DS_Store